:root {
  background: black;
}

* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

/* Lists for index/venues */
h2 {
  text-align: center;
  font-size: 45px;
  color: rgb(14, 86, 144);
}
li {
  font-size: x-large;
  border-radius: 15px;
  margin: 45px 45px 45px 45px;
}

li a {
  color: rgb(100, 146, 192);
  font-size: xx-large;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
}

/* reservation */
input[type="text"],
input[type="email"] {
  transition: width 1.4s ease-in-out;
  font-size: x-large;
  /* color: grey; */
  /* background-color: lightcoral */
}

input[type="text"]:focus,
input[type="email"]:focus {
  width: 25%;
  /* border: 3px solid #555; */
  /* background-color: lightgray; */
}

input {
  font-size: x-large;
}

label {
  color: rgb(100, 146, 192);
}
input[type="submit"] {
  color: rgb(100, 146, 192);
  margin: 4px 2px;
  font-size: x-large;
}

legend {
  text-align: center;
  color: rgb(14, 86, 144);
}

form {
  font-size: xx-large;
}
