<!-- this is the events page of a Venue showing ALL events for that particular venue  -->

{% load static %}
<link rel="stylesheet" href="{% static 'modern.css' %}">

{% if events %}
    <h2>Events happening at {{venue}} </h2>
    <ul>
    {% for event in events %}
        <li><a href="{% url 'RSVP_system:reservation' venue.id event.id %}">{{ event.name }}</a><br/>
            {{event.start_time}} - {{event.end_time}}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No venues are available.</p>
{% endif %}
